{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Centery Gothic' , sans-serif;

}
body{
    font-display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}
.container{
    position: relative;
    width: 500px;
    height: 500px;
    background: yellow
    ;
}